.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, max-content));
    grid-auto-rows: min-content; 
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    justify-content: center;
    flex-grow: 1;
    padding: 2rem;

    &--shop {
        justify-content: flex-start;

        @media screen and (max-width: @bootstrap_md) {
            justify-content: center;
        }        
    }

    &__card {
        max-width: 14rem;
        display: flex;
        flex-direction: column;
        padding: .75rem;

        &:hover {
            background: rgba(240, 240, 240, .7);
        }
    }

    &__card-image {
        padding: 1rem;
    }

    &__heading {
        margin-bottom: 2rem;
    }

    &__text {
        justify-self: flex-end;
        margin-top: auto;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text,
    &__title {
        text-align: left;
        padding: 0 .5rem;

        &:lang(ar) {
            text-align: right;
        }
    }

    &__title {
        margin-bottom: .75rem;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2;
        color: inherit;

        &:lang(ar) {
            font-family: "OpenSans", sans-serif;
        }
    }
}